Yks Web V2/.vs/*
Yks Web V2/EgmYKS/bin/*
Yks Web V2/EgmYKS/obj/*
Yks Web V2/HelperDataLib/bin/*
Yks Web V2/HelperDataLib/obj/*
Yks Web V2/MK_HelperDataLib/bin/*
Yks Web V2/MK_HelperDataLib/obj/*
Yks Web V1_R/.vs/*
Yks Web V1_R/EgmYKS/bin/*
Yks Web V1_R/EgmYKS/obj/*
Yks Web V1_R/HelperDataLib/bin/*
Yks Web V1_R/HelperDataLib/obj/*
Yks Web V1_R/MK_HelperDataLib/bin/*
Yks Web V1_R/MK_HelperDataLib/obj/*


